<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/p2.svg' | relative_url }}')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
          <h3 class="display-3">Welcome to KonanAI</h3>
          <p class="lead mt-0">A universe where deep learning is made easy. Explore our API, tutorials, research, and learning resources. Transform the world with KonanAI.</p>
          <br>
          <div class="buttons">
            <a href="/blog" class="btn btn-primary">
              Visit our blog
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="section features-6">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-html5 text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">Research</h5>
            <p>Discover the cutting-edge research made possible by our deep learning API. Here, innovation meets practical application.</p>
            <a href="#" class="text-info">Explore Research</a>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-app text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">Tutorials</h5>
            <p>Need a guide? Our tutorials walk you through how to use our deep learning API for remarkable results. Get started today.</p>
            <a href="#" class="text-info">View Tutorials</a>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-book-bookmark text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">Docs</h5>
            <p>Master the use of our API. Dive into our comprehensive, professionally vetted documentation. It's time to create.</p>
            <a href="#" class="text-info">Read the Docs</a>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-hat-3 text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">School</h5>
            <p>New to deep learning? Start your journey with our fundamental resources. Learn, grow, and transform with KonanAI.</p>
            <a href="#" class="text-info">Join the School</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-10 mx-md-auto">
        <img class="ml-lg-5" src="{{ '/assets/img/ill/ill.png' | relative_url }}" width="100%">
      </div>
    </div>
  </div>
</div>
